@page
@using Handlers.Classes
@model IndexModel
@{
    ViewData["Title"] = "Home";

    if(@Model.loggedin == true)
    {
        Layout = "Shared/_LayoutHomeLoggedin.cshtml";
    }
    else
    {
        Layout = "Shared/_LayoutHome.cshtml";
    }
}

<div class="houses">
    <h1>Popular houses:</h1>
    @foreach (var house in Model.popularHouses)
    {
        <a class="houseCard" asp-page="/HouseDetails" asp-route-id="@house.GetHouseId()">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="houseImg"
                             src="~/images/house/@house.GetHouseId().ToString()/@house.GetHouseId().ToString()_1.jpg"
                             alt="Card image cap"/>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">@house.GetAddress()</h4>
                        <h6 class="card-subtitle">@house.GetCity()</h6>
                        <span class="price">&#8364;@house.FormattedPrice(),-</span>
                        <p class="card-text">
                            <span class="info"><i class="fa-solid fa-expand"></i>@house.GetSqMLiving().ToString()</span>
                            <span class="info"><i class="fa-solid fa-bed"></i>@house.GetBedrooms().ToString()</span>
                            <span class="info"><i class="fa-solid fa-bath"></i>@house.GetBathrooms().ToString()</span>
                            <span class="info"><i class="fa-solid fa-bolt"></i>@house.GetEnergyLabel()</span>
                        </p>
                    </div>
                </div>
            </div>
        </a>
    }
</div>
<div class="desktop-row-img-left">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6">
                <img class="w-100 shadow" src="/images/countrySideHoues.jpg" />
            </div>
            <div class="col-lg-6">
                <div class="p-5 mt-4">
                    <h1 class="display-4">H1 Heading</h1>
                    <p class="lead">Crow's nest schooner ho scallywag hail-shot gabion salmagundi. Doubloon careen code of conduct lugsail hulk ye long clothes. </p>
                    <a href="#" class="btn btn-outline-dark">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-img-bott">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="p-5 mt-4">
                    <h1 class="display-4">H1 Heading</h1>
                    <p class="lead">Crow's nest schooner ho scallywag hail-shot gabion salmagundi. Doubloon careen code of conduct lugsail hulk ye long clothes. </p>
                    <a href="#" class="btn btn-outline-dark">Read More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="w-100 shadow" src="/images/countrySideHoues.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="desktop-row-img-right">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="p-5 mt-4">
                    <h1 class="display-4">H1 Heading</h1>
                    <p class="lead">Crow's nest schooner ho scallywag hail-shot gabion salmagundi. Doubloon careen code of conduct lugsail hulk ye long clothes. </p>
                    <a href="#" class="btn btn-outline-dark">Read More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="w-100 shadow" src="/images/beachHouse.jpg" />
            </div>
        </div>
    </div>
</div>

<style>
    
    .houses {
        width: 100%;
        padding: 100px 0px;
    }

    .houses a {
            text-decoration: none !important;
            color: black !important;
    }

    .card {
        margin: 15px 0px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }

    .price {
        font-size: 18px;
        font-weight: 700;
    }

    .fa-solid {
        color: #08213f;
        padding-right: 5px;
    }

    .info {
        padding-right: 10px;
    }

    .img-square-wrapper img {
        width: 300px;
        height: auto;
    }
</style>